<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="expectedURLJQuery" value ="http://the-internet.herokuapp.com/jqueryui"/>
    <add key="expectedInputData" value="155"></add>
    <add key ="noticeText" value="Action unsuccesful, please try again"/>
    <add key="spanTextDOM" value="Let's have some different text!"/>
  </appSettings>
</configuration>